*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

html{
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    /* Colour pallete */
    --mist: rgb(173, 208, 231);
    --stone: #336B86;
    --shadow: #283032;
    --foliage: #753625;
}
@media (min-width: 800px) {
    html{
        /* scroll */
        scroll-snap-type: mandatory;
        scroll-snap-type: y mandatory;  

    }
}

a{
    text-decoration: none;
}
a:visited{
    color: blue;
}

/*  */
/* movment div */
/*  */
.move-bar{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left: 1vw;
}
.move-bar a, .move-bar span{
    text-align: left;
    font-size: 2rem;
    padding: 1vh 0.3vw;
}
.move-bar a{
    margin-right: 2px;
}
.move-bar span{
    color: transparent;
    cursor: default;
}

.move-bar a:hover + span{
       color: var(--stone);
}

/*  */
/* contact */
/*  */

.contact-bar{
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.contact-bar a, .contact-bar span{
    padding: 1vh 1vw;
}

.contact-bar a{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    /* color: var(--mist); */
}

/*  */
/* headers */
/*  */

h1, h2{
    padding: 4vh 0vw;
}
h1{
    font-size: 4rem;
    font-weight: 600;
}
h2{
    font-size: 3rem;
    font-weight: 600;
}


@media (max-width: 560px) {
    .move-bar{
        display: none;
    }

    .contact-bar{
        margin-top: 2vh;
        position: sticky;
        background-color: var(--mist);
    }
    .contact-bar a{
        font-size: 0;
    }
    .contact-bar i{
        font-size: 1.6rem;
    }
}